<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        We currently hide install main ACR Phone app from Google Play is store it is installed does not allow links to Google Play.
        We could publish ACR Phone to different stores and use StoreConfigImpl to open link to said store but that makes life complicated as we would need to maintain ACR PHone on many stores.
    -->
    <queries>
        <package android:name="com.nll.cb" />
        <package android:name="com.nll.store" />
        <package android:name="com.xiaomi.mipicks"/>
        <package android:name="com.huawei.appmarket"/>
        <package android:name="com.sec.android.app.samsungapps"/>

    </queries>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <permission
        android:name="com.nll.helper.permission"
        android:protectionLevel="signature|knownSigner" android:knownCerts="@array/app_helper_known_certs" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_RESTRICTED_SETTINGS"/>

    <application
        android:name="com.nll.helper.App"
        android:icon="@mipmap/ic_helper_launcher"
        android:label="@string/app_name_helper"
        android:roundIcon="@mipmap/ic_helper_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACRPhoneHelper">


        <provider
            android:name="com.nll.helper.ServerContentProvider"
            android:authorities="com.nll.helper.ServerContentProvider"
            android:enabled="true"
            android:exported="true"
            android:protectionLevel="signature"
            tools:ignore="ExportedContentProvider"/>

        <activity
            android:name="com.nll.helper.ui.MainActivity"
            android:configChanges="locale|orientation|layoutDirection|keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nll.helper.server.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.nll.helper.permission">
            <intent-filter>
                <action android:name="com.nll.helper.RemoteService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>



        <service
            android:name="com.nll.helper.support.AccessibilityCallRecordingService"
            android:exported="true"
            android:foregroundServiceType="phoneCall|microphone"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/helper_call_recording_accessibility_service" />
        </service>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.nll.helper.support.AccessibilityChangeObserverInitiator"
                android:value="androidx.startup" />
        </provider>


        <activity
            android:name="com.nll.helper.debug.DebugLogActivity"
            android:label="@string/debug_log"
            android:launchMode="singleTop" />

        <service
            android:name="com.nll.helper.debug.DebugLogService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <provider
            android:name="com.nll.helper.debug.DebugLogAttachmentProvider"
            android:authorities="com.nll.helper.debug.DebugLogAttachmentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>